{% extends 'base.html' %}

{% block content %}
<h2>My Projects</h2>
<div class="projects">
    <div class="project">
        <h3>My Tic Tac Toe Game</h3>
        <p>A simple tic-tac-toe game made using python.</p>
        <a href="https://github.com/MakD575/Tic-Tac-Toe">Tic-Tac-Toe</a>
    </div>
    <div class="project">
        <h3>Text To Morse</h3>
        <p>Allows users to translate words and phrases into morse code and vice versa.</p>
        <a href="https://github.com/MakD575/TextToMorse">Text To Morse</a>
    </div>
</div>

{% endblock %}